@model ProductCategory

<h1 class="text-center">@ViewBag.OneProduct.Name</h1>

<div class="d-flex justify-content-around">
    <div>
        <h1>list of associated things</h1>
        <ul>
            @foreach (ProductCategory c in ViewBag.OneProduct.CategoriesIncludedIn)
            {
                <li>@c.Category.Name</li>
            }
        </ul>
    </div>
    <div>
        <h1>form to make relationship</h1>
        <form action="/productcategory/add" method="post">
            <input type="hidden" asp-for="ProductId" value="@ViewBag.OneProduct.ProductId">
            <div class="form-group">
                <label for="CategoryId">Products</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach(Category p in ViewBag.AllCategories)
                    {
                        <option value="@p.CategoryId">@p.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>